body {
    margin: 0;
    height: 100vh;
}

.slider {
    display: flex;
    position: absolute;
    margin-top: 100px;
    width: 3000px;
    height: 30%;
    animation-name: slideX;
    animation-duration: 10s;
}


.box {
    width:150px;
    height: 200px;
    animation: slideX;
    animation-duration: 3s;
}

/* ---------------------------------------- */

.box1 {
    background-color: red;
}
.box2 {
    background-color: orange;
}
.box3 {
    background-color: yellow;
}
.box4 {
    background-color: yellowgreen;
}
.box5 {
    background-color: green;
}
.box6 {
    background-color: blue;
}
.box7 {
    background-color: skyblue;
}
.box8 {
    background-color: purple;
}
.box9 {
    background-color: blueviolet;
}
.box10 {
    background-color: pink;
}
.box11 {
    background-color: goldenrod;
}
.box12 {
    background-color: red;
}
.box13 {
    background-color: orange;
}
