<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Action</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
  <!-- css: reset -->
  <link rel="stylesheet" href="/static/css/reset.css">
  <!-- css: header -->
  <link rel="stylesheet" href="/static/css/header.css">
  <!-- css: sub -->
  <link rel="stylesheet" href="/static/css/sub.css">
  <!-- font : noto sans, moserrat, roboto -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- xelcon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <!-- CDN -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
  <!-- 헤더 삽입 -->
  <%-include('header.ejs') %>

  <section>
    <main>
      <div class="random">
        <div class="title-move">
          <h2 class="hidden">Action random recommond</h2>
          <p>
            <!-- <span>D.nema의 추천, action</span><br> -->
            <span>ACTION</span><br>
            &nbsp;D.NEMA가 추천하는 액션 영화!
          </p>
          <button class="random-button"><i class="xi-shuffle"></i> 랜덤플레이</button>
          <div class="video">
            <video class="random-video" autoplay muted></video>
            <div class="description">
              <div class="ott">
                <span class="age-color none"></span>
                <img class="netflix none" src="/static/image/netflix.png"></img>
                <img class="watcha none" src="/static/image/watcha.png"></img>
                <img class="tving none" src="/static/image/tving.png"></img>
                <img class="disney none" src="/static/image/disney.png"></img>
                <img class="wavve none" src="/static/image/wavve.png"></img>
              </div>
              <span class="title"></span>
              <span class="decs"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- top movie -->
      <article class="movies">
        <h3>Top moives</h3>
        <ul>
          <li class="hover-filter"></li>
          <li class="movie">
            <img src="/static/image/action0.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action0.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
                <!-- <i class="xi-heart heart"></i> -->
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action1.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action1.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie movie-list2">
            <img src="/static/image/action2.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action2.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p class="hover-story"></p>
            </div>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action3.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action3.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action4.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action4.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action5.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action5.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action6.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action6.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action7.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action7.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action8.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action8.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action9.jpg" alt="액션이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action9.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <!-- 영화 좋아요 btn -->
                <button id="modal-like" class="modal-like-btn"><i class="xi-heart-o heart"></i></button>
              </div>
              <p>
                어느 겨울 도착한 비디오 테이프에 담긴 1999년의 기억, 17세 소녀 ‘보라’가 절친 ‘연두’의 첫사랑을 이루어주기 위해 사랑의 큐피트를 자처하며 벌어지는 첫사랑 관찰 로맨스.
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/action10.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_action10.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>노트르담</span>
                <i class="far fa-heart"></i>
                <span>15+</span>
                <span>90분</span>
              </div>
              <p>
                나는 꿈을 짓는 건축가
                “사랑도 다시 지을 수 있나요?”

                만년 유망주 건축가이자 두 아이를 키우는 싱글맘,모드.
                툭하면 애인과 싸우고 찾아오는 전남편과는 여전히 오묘한 관계를 유지하고 있다.
                잊고 있던 옛사랑까지 나타나 혼란스러운 가운데 노트르담 성당 산책로 복원 사업이라는 중대한 프로젝트까지 맡게 되고…

                일과 사랑,육아까지 그 무엇 하나 놓치고 싶지 않은 모드의 행운은 어디까지 이어질까?
              </p>
            </div>
          </li>
        </ul>
      </article>
    </main>
  </section>

  <footer>
    <aspanress>footer</aspanress>
  </footer>

  <script src="/static/js/sub_action.js"></script>

</body>

</html>