<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comedy</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
  <!-- css: reset -->
  <link rel="stylesheet" href="/static/css/reset.css">
  <!-- css: header -->
  <link rel="stylesheet" href="/static/css/header.css">
  <!-- css: sub -->
  <link rel="stylesheet" href="/static/css/sub.css">
    <!-- css: scroll -->
    <link rel="stylesheet" href="static/css/scroll.css">
  <!-- font : noto sans, moserrat, roboto -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- xelcon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <!-- CDN -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
  <!-- 헤더 삽입 -->
  <%-include('header.ejs') %>

  <section>
    <main>
      <div class="random">
        <div class="title-move">
          <h2 class="hidden">comedy random recommond</h2>
          <p>
            <!-- <span>D.nema의 추천, comedy</span><br> -->
            <span>COMEDY</span><br>
            &nbsp;D.NEMA가 추천하는 코미디 영화!
          </p>
          <button><i class="xi-shuffle"></i> 랜덤플레이</button>
          <div class="video">
            <video class="random-video" autoplay muted></video>
            <div class="description">
              <div class="ott">
                <span class="age-color none"></span>
                <img class="netflix none" src="/static/image/netflix.png"></img>
                <img class="watcha none" src="/static/image/watcha.png"></img>
                <img class="tving none" src="/static/image/tving.png"></img>
                <img class="disney none" src="/static/image/disney.png"></img>
                <img class="wavve none" src="/static/image/wavve.png"></img>
              </div>
              <span class="title"></span>
              <span class="decs"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- top movie -->
      <article class="movies">
        <h3>Top moives</h3>
        <ul>
          <div class="hover-filter"></div>
          <li class="movie movie-list1">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy1.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy2.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy3.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy4.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy5.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy6.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy7.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy8.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/comedy9.jpg" alt="로맨스 이미지">
            <div class="hoverbox">
              <div class="tit">
                <span class="hover-title"></span>
                <i class="far fa-heart"></i>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
        </ul>
      </article>
    </main>
  </section>

  <footer>
    <aspanress>footer</aspanress>
  </footer>

  <script src="/static/js/sub_comedy.js"></script>

</body>

</html>