<header class="top-nav">
  <input type="checkbox" id="nav-check">
  <!-- logo -->
  <h1 class="h1-logo">
    <a href="/">
      <img src="/static/image/logo-v2.png" alt="logo">
    </a>
  </h1>
  <!-- mobile ver - navbar -->
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
    </label>
  </div>
  <!-- web ver - nav : 영화 장르별 탭 -->
  <nav class="nav">
    <h2 class="hidden">네비게이션영역</h2>
    <ul class="nav-box">
      <li>
        <h3><a href="/action">Action</a></h3>
      </li>
      <li>
        <h3><a href="/romance">Romance</a></h3>
      </li>
      <li>
        <h3><a href="/comedy">Comedy</a></h3>
      </li>
      <li>
        <h3><a href="/sf">SF</a></h3>
      </li>
      <!-- user : mypage -->
      <li><a href="/my" title="mypage" class="user-icon"><i class="fas fa-user"></i></a></li>
      <!-- mobile ver : mypage -->
      <li><a href="/my" title="mypage" class="user-icon-mob">mypage</a></li>
    </ul>
  </nav>
</header>