<header class="top-nav">
  <!-- logo -->
  <h1 class="h1-logo"><img src="/static/image/logo.png" alt="logo"></h1>
   <!-- nav : 영화 장르별 탭 -->
   <nav class="nav">
      <ul class="nav-box">
         <li><a href="/action">Action</a></li>
         <li><a href="/romance">Romance</a></li>
         <li><a href="/comedy">Comedy</a></li>
         <li><a href="/sf">SF</a></li>
      </ul>
 </nav>
 <!-- user : mypage -->
 <a href="/mypage" class="user-icon"><i class="fas fa-user"></i></a>
</header>
