<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- logo -->
        <h1><img src="" alt="logo">D.nema</h1>
        <!-- search box -->
        <label for="search">
            <input type="search" name="search">
            <button type="button"><i></i></button>
        </label>
        <!-- left : nav -->
        <nav>
            <ul>
                <li>Action</li>
                <li>Romance</li>
                <li>Comedy</li>
                <li>SF</li>
            </ul>
        </nav>
    </header>
</body>
</html>