<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/intro.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
    <img class="d" src="/static/image/loginlogo/intro-img/D.png" alt="intro">
    <img class="o" src="/static/image/loginlogo/intro-img/O.png" alt="intro">
    <img class="dot" src="/static/image/loginlogo/intro-img/dot.png" alt="intro">
    <img class="nema" src="/static/image/loginlogo/intro-img/NEMA.png" alt="intro">
    <script src="/static/js/intro.js"></script>
</body>
</html>