<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <!-- css: reset -->
    <link rel="stylesheet" href="./style/reset.css">
    <!-- css: layout -->
    <link rel="stylesheet" href="./style/layout.css">
    <!-- font : noto sans, moserrat, roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <!-- fontawsome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <!-- xelcon -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <!-- 메인콘츠 삽입 구간 : nav 클릭시 나오는 화면 -->
    <main>
        <section>
            <h2>section</h2>
            <article>
                <h3>slide구간</h3>
                <ul>
                    <li>영화</li>
                    <li>영화</li>
                    <li>영화</li>
                    <li>영화</li>
                    <li>영화</li>
                    <li>영화</li>
                    <li>영화</li>
                    <li>영화</li>
                    <li>영화</li>
                </ul>
            </article>
            <article>
                <h3>영화상세화면구간</h3>
            </article>
        </section>
    </main>
    <footer>
        <address>footer</address>
    </footer>
    
</body>
</html>