<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="wispanh=device-wispanh, initial-scale=1.0">
  <title>SF</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
  <!-- css: reset -->
  <link rel="stylesheet" href="/static/css/reset.css">
  <!-- css: header -->
  <link rel="stylesheet" href="/static/css/header.css">
  <!-- css: sub -->
  <link rel="stylesheet" href="/static/css/sub.css">
  <!-- font : noto sans, moserrat, roboto -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- xelcon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <!-- CDN -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
  <!-- 헤더 삽입 -->
  <%-include('header.ejs') %>

  <section>
    <main>
      <div class="random">
        <div class="title-move">
          <h2 class="hidden">SF random recommond</h2>
          <p>
            <!-- <span>D.nema의 추천, sf</span><br> -->
            <span>SF</span><br>
            &nbsp;D.NEMA가 추천하는 SF 영화!
          </p>
          <button class="random-button"><i class="xi-shuffle"></i> 랜덤플레이</button>
          <div class="video">
            <video class="random-video" autoplay loop muted></video>
            <div class="description">
              <div class="ott">
                <span class="age-color none"></span>
                <img class="netflix none" src="/static/image/netflix.png"></img>
                <img class="watcha none" src="/static/image/watcha.png"></img>
                <img class="tving none" src="/static/image/tving.png"></img>
                <img class="disney none" src="/static/image/disney.png"></img>
                <img class="wavve none" src="/static/image/wavve.png"></img>
              </div>
              <span class="title"></span>
              <span class="decs"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- top movie -->
      <article class="movies">
        <h3>Top moives</h3>
        <ul>
          <div class="hover-filter"></div>
          <li class="movie movie-list1">
            <img src="/static/image/sf0.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf0.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>여름날 우리</span>
                <i class="far fa-heart"></i>
                <span>12+</span>
                <span>1시간 55분</span>
              </div>
              <p>
                처음이었다, 사랑이 싹트는 기분

                너에게 풍덩 빠져버렸던 17살의 여름.
                너를 두고 아무것도 할 수 없었던 21살의 여름.
                그리고 몇번의 여름이 지나고 다시 만난 너,
                이젠 놓치지 않을 거야.
                ‘널 만난 건 내 인생 최고의 행운이었어’
              </p>
            </div>
          </li>
          <li class="movie movie-list2">
            <img src="/static/image/sf1.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf1.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>동감</span>
                <i class="far fa-heart"></i>
                <span>12+</span>
                <span>114분</span>
              </div>
              <p>
                1999년, '용'은 첫눈에 반하게 된 '한솔'을 사로잡기 위해 
                친구에게 HAM 무전기를 빌린다.

                2022년, ‘무늬’는 인터뷰 과제를 위해 
                오래된 HAM 무전기를 작동시킨다.

                "씨큐... 씨큐... 제 목소리 들리세요?"

                개기 월식이 일어난 날,
                시간을 뛰어넘어 기적처럼 연결된 ‘용’과 ‘무늬’는
                서로의 사랑과 우정을 이야기하며 특별한 감정을 쌓아가는데...

                1999 - 2022
                마음을 수신합니다.
              </p>
            </div>
          </li>
          <li class="movie movie-list2">
            <img src="/static/image/sf2.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf2.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>연애 빠진 SF</span>
                <i class="far fa-heart"></i>
                <span>15+</span>
                <span>95분</span>
              </div>
              <p>
                일도 연애도 마음대로 되지 않는 스물아홉 `자영`(전종서).
                전 남친과의 격한 이별 후 호기롭게 연애 은퇴를 선언했지만
                참을 수 없는 외로움에 못 이겨 최후의 보루인 데이팅 어플로 상대를 검색한다.

                일도 연애도 호구 잡히기 일쑤인 서른셋 `우리`(손석구).
                뒤통수 제대로 맞은 연애의 아픔도 잠시
                편집장으로부터 19금 칼럼을 떠맡게 되고 데이팅 어플에 반강제로 가입하게 된다.

                그렇게 설 명절 아침!
                이름, 이유, 마음 다 감추고 만난 `자영`과 `우리`.
                1도 기대하지 않았지만, 1일 차부터 둘은 서로에게 급속도로 빠져들게 되고
                연애인 듯 아닌 듯 미묘한 관계 속에 누구 하나 속마음을 쉽게 터놓지 못하는데...

                이게 연애가 아니면 도대체 뭔데?
                발 빼려다 푹 빠졌다!
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/sf3.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf3.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>영화의 거리</span>
                <i class="far fa-heart"></i>
                <span>12+</span>
                <span>77분</span>
              </div>
              <p>
                일도 연애도 마음대로 되지 않는 스물아홉 '자영'(전종서).
                전 남친과의 격한 이별 후 호기롭게 연애 은퇴를 선언했지만
                참을 수 없는 외로움에 못 이겨 최후의 보루인 데이팅 어플로 상대를 검색한다...
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/sf4.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf4.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>너의 결혼식</span>
                <i class="far fa-heart"></i>
                <span>12+</span>
                <span>110분</span>
              </div>
              <p>
                기억하나요? 당신의 첫사랑

                고3 여름, 전학생 ‘승희’(박보영)를 보고 첫눈에 반한 ‘우연’(김영광).
                승희를 졸졸 쫓아다닌 끝에 마침내 공식커플로 거듭나려던 그때!
                잘 지내라는 전화 한 통만 남긴 채 승희는 사라져버리고,
                우연의 첫사랑은 그렇게 막을 내리는 듯했다.

                1년 뒤, 승희의 흔적을 쫓아 끈질긴 노력으로 같은 대학에 합격한 우연.
                그런데 그의 앞을 가로막은 건… 다름 아닌 그녀의 남.자.친.구!

                예술로 빗나가는 타이밍 속
                다사다난한 그들의 첫사랑 연대기는 계속된다!
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/sf5.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf5.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>노트북</span>
                <i class="far fa-heart"></i>
                <span>15+</span>
                <span>123분</span>
              </div>
              <p>
                17살, ‘노아’는 밝고 순수한 ‘앨리’를 보고 첫눈에 반한다.
                빠른 속도로 서로에게 빠져드는 둘.
                그러나 이들 앞에 놓인 장벽에 막혀 이별하게 된다.

                24살, ‘앨리’는 우연히 신문에서 ‘노아’의 소식을 접하고
                잊을 수 없는 첫사랑 앞에서
                다시 한 번 선택의 기로에 서게 되는데…

                열일곱의 설렘, 스물넷의 아픈 기억, 그리고 마지막까지…
                한 사람을 지극히 사랑했으니 내 인생은 성공한 인생입니다.
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/sf6.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf6.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>가장 보통의 연애</span>
                <i class="far fa-heart"></i>
                <span>15+</span>
                <span>109분</span>
              </div>
              <p>
                전 여친에 상처받은 ‘재훈’(김래원).
                여느 때처럼 숙취로 시작한 아침,
                모르는 번호의 누군가와 밤새 2시간이나 통화한 기록을 발견하게 되고 그 상대가 바로! 통성명한 지 24시간도 채 되지 않은 직장 동료 ‘선영’임을 알게 된다.

                남친과 뒤끝 있는 이별 중인 ‘선영’(공효진).
                새로운 회사로 출근한 첫날, 할 말 못 할 말 쏟아내며 남친과 헤어지던 현장에서 하필이면! 같은 직장의 ‘재훈’을 마주친다.

                만난 지 하루 만에 일보다 서로의 연애사를 더 잘 알게 된 두 사람.
                하지만 미묘한 긴장과 어색함도 잠시
                ‘한심하다’, ‘어이없다’ 부딪히면서도 마음이 쓰이는 건 왜 그럴까?
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/sf7.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf7.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>뷰티인사이드</span>
                <i class="far fa-heart"></i>
                <span>12+</span>
                <span>127분</span>
              </div>
              <p>
                남자, 여자, 아이, 노인.. 심지어 외국인까지! 자고 일어나면 매일 다른 모습으로 변하는 남자, ‘우진’. 그에게 처음으로 비밀을 말하고 싶은 단 한 사람이 생겼다.드디어 D-DAY!
                ‘우진’은 그녀에게 자신의 마음을 고백하기로 하는데…

                “초밥이 좋아요? 스테이크가 좋아요?
                사실.. 연습 엄청 많이 했어요.
                오늘 꼭 그쪽이랑 밥 먹고 싶어서…”
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/sf8.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf8.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>비와 당신의 이야기</span>
                <i class="far fa-heart"></i>
                <span>All</span>
                <span>117분</span>
              </div>
              <p>
                “이건 기다림에 관한 이야기다”

                뚜렷한 꿈도 목표도 없이 지루한 삼수 생활을 이어가던 `영호`(강하늘),
                오랫동안 간직해온 기억 속 친구를 떠올리고 무작정 편지를 보낸다.

                자신의 꿈은 찾지 못한 채 엄마와 함께 오래된 책방을 운영하는 `소희`(천우희)는
                언니 `소연`에게 도착한`영호`의 편지를 받게 된다.

                “몇 가지 규칙만 지켜줬으면 좋겠어.
                질문하지 않기, 만나자고 하기 없기 그리고 찾아오지 않기.”

                `소희`는 아픈 언니를 대신해 답장을 보내고 두 사람은 편지를 이어나간다.
                우연히 시작된 편지는 무채색이던 두 사람의 일상을 설렘과 기다림으로 물들이기 시작하고,
                `영호`는 12월 31일 비가 오면 만나자는 가능성이 낮은 제안을 하게 되는데...
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/sf9.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf9.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>20세기 소녀</span>
                <i class="far fa-heart"></i>
                <span>12+</span>
                <span>129분</span>
              </div>
              <p>
                어느 겨울 도착한 비디오 테이프에 담긴 1999년의 기억, 17세 소녀 ‘보라’가 절친 ‘연두’의 첫사랑을 이루어주기 위해 사랑의 큐피트를 자처하며 벌어지는 첫사랑 관찰 SF.
              </p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/sf10.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_sf10.mp4" autoplay loop muted></video>
              <div class="tit">
                <span>노트르담</span>
                <i class="far fa-heart"></i>
                <span>15+</span>
                <span>90분</span>
              </div>
              <p>
                나는 꿈을 짓는 건축가
                “사랑도 다시 지을 수 있나요?”

                만년 유망주 건축가이자 두 아이를 키우는 싱글맘,모드.
                툭하면 애인과 싸우고 찾아오는 전남편과는 여전히 오묘한 관계를 유지하고 있다.
                잊고 있던 옛사랑까지 나타나 혼란스러운 가운데 노트르담 성당 산책로 복원 사업이라는 중대한 프로젝트까지 맡게 되고…

                일과 사랑,육아까지 그 무엇 하나 놓치고 싶지 않은 모드의 행운은 어디까지 이어질까?
              </p>
            </div>
          </li>
        </ul>
      </article>
    </main>
  </section>

  <footer>
    <aspanress>footer</aspanress>
  </footer>

  <script src="/static/js/sub_sf.js"></script>

</body>

</html>