@charset "utf-8";

/* common css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

.d {
    width: 150px;
}

.o {
    animation: smallAnimation 1s 1s ease-in-out forwards;
    width: 150px;
}

.nema {
    width: 550px;
}

.dot {
    position: absolute;
    left: 28%;
    margin-top: 100px;
    opacity: 0;
    scale: 1.5;
    animation: fadeIn 1s 1s ease-in-out forwards;
}



@keyframes fadeOut {
    0%{
        opacity: 1;
    }  
    100%{
        opacity: 0;
    }
    
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }  
    100%{
        opacity: 1;
    }
    
}

@keyframes smallAnimation {
    0%{
        
        scale: 1;
    }
    100%{
        translate: 0, -50%;
        opacity: 0;
        scale: 0.5;
    }
}

