@charset "utf-8";
body{
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
section > h2{display: none;}

section{
  width: 100%; 
  margin: 0px auto;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  animation: OpeningSequence 3s linear forwards;
}

@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0.8;
		transform: rotateY(-90deg);
	}
	25% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.2;
		transform: rotateY(0deg) scale(2);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.2;
		transform: rotateY(0deg) translateZ(100px) scale(4);
	}
	75% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.2;
		transform: rotateY(0deg) translateZ(100px) scale(6);
	}
	100% {
		text-shadow: 0 0 10px #fff;
    opacity: 0.1;
		transform: translateZ(130px) scale(8);
		pointer-events: none;
	}
}